header#portfolio-header {
  color: black;
  background: url(images/nathan-anderson-291067.jpg) center / cover;
  height: 60vh;
  justify-content: center;
  text-align: center;
}

a {
  color: blue;
}

a:hover{
  color: purple;
}

h1 {
  color: hsla(0, 0%, 100%, 0.9);
  font-weight: bold;
}

#slogan {
  color: hsla(0, 0%, 100%, 0.7);
  font-weight: lighter;
  font-size: 1.6rem;
}

body {
  background-color: black;
  color: white;
}

main {
  max-width: 900px;
}

.featured-project-name h2 {
  color: black;
}

.project-description {
  padding-left: 0;
}

.project img {
  width: 100%;
}

footer#connect {
  bottom: 0;
  padding: 0rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#footer-links {
  margin: auto;
  font-size: 1rem;
}

@media screen and (max-width: 1024px) {
  header#portfolio-header {
    display: flex;
  }
}
