/* HEADER */
header {
  text-align: center;
}

/* NAV */
nav a{
  list-style-type: none;
  text-decoration: none;
}nav a img{
  margin: 2vh;
  border: .2em solid rgba(255,255,255,0);
  border-radius: 50%;
  max-height: 10vh;
}nav a img:hover{
  border: .2em solid white;
}

/* MAIN */
main{
  margin: 1vh 0;
  align-items: center;
  justify-content: center;
}
.project-link {
  text-decoration: none;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1vh;
  border: 1px solid rgba(0,0,0,0);
}.container:hover{
  color: black;
}
.project-picture {
  grid-column: 1;
  border: .1em solid white;
}
.project-info{
  grid-column: 2;
  text-align: center;
}
.project-description{
  padding: 2vw;
}
