body {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  color: white;
  font-family: garamond;
  font-weight: 400;
}

header {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
  padding-top: 3vh;
  color: black;
  height: 20vh;
  justify-content: center;
  text-align: center;
}

h1 {
  color: hsla(0, 0%, 100%, 0.9);
  font-weight: bold;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

#slogan {
  color: hsla(0, 0%, 100%, 0.7);
  font-weight: lighter;
  font-size: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 5vh;
}

.container {
  display: flex;
  flex-direction: row;
  background-color: hsla(0, 0%, 100%, 0.7);
  border: 0.5vh solid black;
  border-radius: 1vh;
  margin: 2vh;
}

.project-picture {
  margin: 2vh;
  border: 0.5vh solid black;
  border-radius: 1vh;
}

.project-name, .project-description, .project-link {
  padding-left: 5vh;
  color: black;
}

.project-link:hover {
  color: grey;
}

img {
  width: 50vh;
  height: 26vh;
}

/* FOOTER */

footer#connect {
  right: 0;
  margin: 0 auto;
  padding: 0;
  position: fixed;
}

#footer-links {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 5rem;
}

#footer-links li {
  margin: auto;
  font-size: 1rem;
}

#footer-links img {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
}

@media screen and (max-width: 1024px) {
  header#portfolio-header {
    display: flex;
  }
}
