/* BODY */
html{
  max-width: 70%;
  margin-left: 15%;
}
body {
  justify-content: center;
  align-items: center;
  background-color: navy;
  color: white;
}
a{
  color: white;
}

/* HEADER */
header {
  border: .1em solid white;
  border-radius: 1em;
  text-align: center;
}.me {
  max-width: 100%;
  overflow: hidden;
  border-bottom: .1em solid white;
}

/* NAV */
nav a{
  list-style-type: none;
  text-decoration: none;
}nav a img{
  margin: 2vh;
  border: .2em solid rgba(255,255,255,0);
  border-radius: 8em;
  max-height: 10vh;
}nav a img:hover{
  border: .2em solid white;
}

/* MAIN */
main{
  margin: 1vh 0;
  align-items: center;
  justify-content: center;
}
.project-link {
  text-decoration: none;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1vh;
  border: 1px solid rgba(0,0,0,0);
}.container:hover{
  border-radius: 1em;
  color: black;
  background-color: white;
}
.project-picture {
  grid-column: 1;
  align-self: center;
  width: 100%;
  border-radius: .5em;
  border: .1em solid white;
}
.project-info{
  grid-column: 2;
  text-align: center;
}
.project-description{
  padding: 2vw;
}

/* Media Queries */
/* What needs to be included for responsive web design here:

  .project-picture
  footer
  #footer-links img
  page defaults

*/
@media screen and (min-width: 1024px) {
  /*img*/
}

@media screen and (min-width: ) {
  /*img*/
}
