header {
  margin: 0 auto 0 auto;
  padding-top: 3vh;
  color: black;
  height: 20vh;
  justify-content: center;
  text-align: center;
}

h1 {
  color: hsla(0, 0%, 100%, 0.9);
  font-weight: bold;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1.5em;
}

#slogan {
  color: hsla(0, 0%, 100%, 0.7);
  font-weight: lighter;
  font-size: 2em;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 5vh;
}

.container {
  display: flex;
  flex-direction: row;
  background-color: hsla(0, 0%, 100%, 0.7);
  border: 0.5vh solid black;
  border-radius: 1vh;
  margin: 2vh;
}.container:hover{
  background-color: hsla(0, 0%, 100%, 1);
}.project-link {
  text-decoration: none;
  color: grey;
}.project-picture {
  margin: 2vh;
  border: 0.5vh solid black;
  border-radius: 1vh;
}.project-name, .project-description {
  padding-left: 5vh;
  color: black;
}

img {
  width: 50vh;
  height: 26vh;
}

/* FOOTER */

footer#connect {
  right: 0;
  margin: 0 auto;
  padding: 0;
  position: fixed;
}

#footer-links {
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 5em;
}

#footer-links li {
  margin: auto;
  font-size: 1em;
}

#footer-links img {
  display: grid;
  width: 5em;
  height: 5em;
  border-radius: 1em;
}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: ) {

}
