/* PAGE DEFAULTS */
h1 {
  color: hsla(0, 0%, 100%, 0.9);
  font-weight: bold;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1em;
}


/* BODY */
body {
  display: grid;
  width: 80%;
  margin: auto;
  color: white;
  font-family: garamond;
  font-weight: 400;
}


/* HEADER */
header {
  grid-row: 1/2;
  margin: 0 auto;
  padding-top: 3vh;
  color: black;
  height: 20vh;
  text-align: center;
}
#slogan {
  color: hsla(0, 0%, 100%, 0.7);
  font-weight: lighter;
  font-size: 2em;
}


/* MAIN */
main {
  grid-row-start: 2;
  margin: 0 5vh;
}
.project-link {
  text-decoration: none;
  color: grey;
}
.container {
  display: grid;
  background-color: hsla(0, 0%, 100%, 0.7);
  border: 0.5vh solid black;
  border-radius: 1vh;
  margin: 2vh;
}.container:hover{
  background-color: white;
}
.project-picture {
  grid-row-start: 1;
  grid-column: 1/2;
  margin: 2vh;
  border: 0.5vh solid black;
  border-radius: 1vh;
  width: 50vh;
  height: 26vh;
}

.project-info{
  border: 1px solid yellow;
  grid-row-start: 1;
  grid-column: 2/4;
  color: black;
}



/* FOOTER */
footer#connect {
  right: 0;
  margin: 0 auto;
  padding: 0;
  position: fixed;
}
#footer-links {
  list-style-type: none;
}#footer-links img {
  width: 5em;
  height: 5em;
  border-radius: 1em;
}


/* Media Queries */
/* What needs to be included for responsive web design here:

  .project-picture
  footer
  #footer-links img
  page defaults

*/
@media screen and (min-width: 1024px) {
  /*img*/
}

@media screen and (min-width: ) {
  /*img*/
}
