/* PAGE DEFAULTS */
h1 {
  color: hsla(0, 0%, 100%, 0.9);
  font-weight: bold;
}

p {
  font-size: 1em;
  color: hsla(0, 0%, 100%, 0.7);
  font-weight: lighter;
  font-size: 2em;
}


/* BODY */
body {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  align-items: center;

  background-color: black;
  font-size: 1em;
  font-family: garamond;
  font-weight: 400;
}


/* HEADER */
header {
  grid-row: 1/2;
  grid-column-start: 2;
  text-align: center;
}


/* FOOTER */
footer{
  grid-column-start: 2;
  grid-row-start: 2;
  justify-content: center;
  align-items: center;
}
#footer-links {
  list-style-type: none;
  display: grid;
}#footer-links img {
  border-radius: 8em;
  border: 2px solid white;
  width: 8em;
  height: 8em;
}.quora{
  grid-column-start: 1;
}.github{
  grid-column-start: 2;
}.linkedin{
  grid-column-start: 3;
}.email{
  grid-column-start: 4;
}


/* MAIN */
main {
  grid-row-start: 3;
  grid-column-start: 2;
}
.project-link {
  text-decoration: none;
  color: grey;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em;

  padding: 2em;
  margin: 2em 0;
  background-color: hsla(0, 0%, 100%, 0.7);
  border: 0.5vh solid black;
  border-radius: 1em;
}.container:hover{
  background-color: white;
}
.project-picture {
  grid-row-start: 1;
  grid-column: 1/2;
  align-self: center;

  border: 0.1em solid black;
  border-radius: 1em;
  width: 100%;
}
.project-info{
  grid-row-start: 1;
  grid-column: 2/3;
  color: black;
}
.project-description{
  color: black;
}


/* Media Queries */
/* What needs to be included for responsive web design here:

  .project-picture
  footer
  #footer-links img
  page defaults

*/
@media screen and (min-width: 1024px) {
  /*img*/
}

@media screen and (min-width: ) {
  /*img*/
}
